fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-dotenv
pydantic[email]
pydantic-settings
passlib==1.7.4
bcrypt==3.2.0
python-jose[cryptography]
cryptography
requests
python-multipart
python-dateutil
reportlab
svglib
num2words
qrcode[pil]
openpyxl
supabase
xmltodict
signxml
zeep
slowapi
