fastapi
uvicorn[standard]
sqlalchemy
python-dotenv
passlib==1.7.4
bcrypt==3.2.0
python-jose[cryptography]
requests
reportlab
python-multipart
fastapi-cors
psycopg2-binary
fastapi
uvicorn[standard]
sqlalchemy
python-dotenv
passlib==1.7.4
bcrypt==3.2.0
python-jose[cryptography]
requests
reportlab
python-multipart
fastapi-cors
psycopg2-binary
pydantic[email]
pydantic-settings
python-dateutil
cryptography
num2words
qrcode[pil]
supabase