fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-dotenv
pydantic[email]
pydantic-settings
passlib==1.7.4
bcrypt==3.2.2
python-jose[cryptography]
cryptography
requests
cachetools==6.2.6
python-multipart
python-dateutil
reportlab
svglib
num2words
qrcode[pil]
Pillow
openpyxl
supabase
xmltodict
signxml
zeep
slowapi
